// Bullet Related
.strikethrough {
    text-decoration: line-through;
}
body, html {
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4;
    vertical-align: middle;
}

.fa {
	font-size: 12px
}