body,
html {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
    vertical-align: middle;
    font-size: 14px;
    color: #555;
}

// Bullet Related
.strikethrough {
    text-decoration: line-through;
}

.fa {
    font-size: 12px
}

.collection td,
tr {
    vertical-align: top;
    padding: 2px 5px 5px 2px;
}

.collection td.bullet-text {
    min-width: 395px;
}

.collection {
    min-height: 250px;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
    border-bottom: 1px dashed #A2AFC2;
}

.new:hover {
    border-bottom: 1px dashed #A2AFC2;
}

// .collection:hover {
//     -webkit-box-shadow: 4px 20px 29px -4px rgba(0, 0, 0, 0.75);
//     -moz-box-shadow: 4px 20px 29px -4px rgba(0, 0, 0, 0.75);
//     box-shadow: 4px 20px 29px -4px rgba(0, 0, 0, 0.75);
// }
.done {
    font-style: italic;
}

.popover {
    border: none;
}

.popover-content {
    padding: 3px;
}

.popover.left .arrow {
    display: none;
}

// Sticky Footer
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    // -webkit-app-region: drag
}

.navbar {
    height: 60px;
    background-color: #eee;
}

.pagination {
    margin-top: 10px;
}

// Custom Datepicker typeahead
date-picker .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

date-picker .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

date-picker .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
