<!-- Need to refactor this to utilize bullet directive -->
<div class="container">
  <div class ="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h1>{{monthCal.title | date: 'MMM yyyy'}}</h1>
      <div ng-repeat="day in numOfDays track by $index">{{$index+1}} / {{day}} //
        <bullet
        bullet="bulletList[$index + 1 + '']"
        remove-fn="removeBullet(bulletList[$index + 1 + ''])"
        ></bullet>

      </div>
    </div>



    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h1>Monthly Tasks</h1>
      <div ng-repeat="bullet in monthBullets track by $index">{{bullet.content}}</div>
    </div>
  </div>
</div>
