<navbar class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="menu pagination">
      <li class="text-muted"><a class="navbar-link" ui-sref="index">index</a></li>
      <li class="text-muted"><a class="navbar-link" ng-click="lastFuture()">future log</a></li>
      <li class="text-muted"><a class="navbar-link" ng-click="lastMonth()">monthly tracker</a></li>
      <li class="text-muted"><a class="navbar-link" ng-click="lastDaily()">daily log</a></li>
      <li class="text-muted"><a class="navbar-link" ng-if="currentStates.genericTitle" ng-click="lastGeneric()">{{currentStates.genericTitle}}</a></li>
    </ul>
    
    <div class="navbar-form navbar-right form-inline">
      <add-collection collection-type="generic"></add-collection>
    </div>
    <div class="navbar-form navbar-right form-inline">
      <search-bar></search-bar>
    </div>

  </div>
  <!-- TODO: The following sections should be moved into either menus or modals -->
  <!-- <div class="container">
            <p class="text-muted pull-left">
                Key
            </p>
            <p class="text-muted pull-left">
                <i class="fa fa-fw fa-circle"></i> task
            </p>
            <p class="text-muted pull-left">
                <i class="fa fa-fw fa-times"></i> complete task
            </p>
            <p class="text-muted pull-left">
                <i class="fa fa-fw fa-circle-thin"></i> event
            </p>
            <p class="text-muted pull-left">
                <i class="fa fa-fw fa-minus"></i> note
            </p>
        </div>
        <div class="container">
            <p class="text-muted pull-left">
                Shortcuts
            </p>
            <p class="text-muted pull-left">
                task: ⌘+t
            </p>
            <p class="text-muted pull-left">
                event: ⌘+e
            </p>
            <p class="text-muted pull-left">
                note: ⌘+n
            </p>
            <p class="text-muted pull-left">
                done: ⌘+d
            </p>
            <p class="text-muted pull-left">
                crossout: ⌘+x
            </p>
            <p class="text-muted pull-left">
                delete: ⌘+del
            </p>
        </div> -->
</navbar>
