<div class="bullet-row">
    <bullet-icon ng-show="bullet.content.length||assigned" class="bullet-icon" bullet="bullet"></bullet-icon>
    <div class="bullet-text" ng-class="{strikethrough: bullet.status==='struck', new: !scope.bullet.content, done: bullet.status !== 'incomplete'}" uib-popover-template="templateUrl" popover-enable="bullet.status==='incomplete'" popover-trigger="focus" popover-placement="bottom-left" contenteditable ng-model="bullet.content" ng-focus="enableButtons = true; showButtons = 1" ng-blur="showButtons = 0; save()"></div>
    <div class="bullet-menu" ng-if="showButtonPanel(bullet)">
        <i ng-click="openCalendar()" ng-show="showScheduleButton(bullet) "><i class="fa fa-fw fa-calendar" title="schedule "></i></i>
        <i class="fa fa-fw fa-paper-plane" ng-click="migrate()" ng-show="showMigrateButton(bullet)" title="migrate"></i>
    </div>
</div>
<span ng-if="popup" class="col-lg-3 col-md-3 col-sm-3">
    <form class="btn-group" data-toggle="buttons">
        <label>
            <input type="radio" ng-model="options.minMode" value="day"/> Day
        </label>
        <label>
            <input type="radio" ng-model="options.minMode" value="month"/> Future
        </label>    
    <uib-datepicker ng-model="bullet.date" close-text="Close" datepicker-options="options" datepicker-mode = "options.minMode" alt-input-formats="altInputFormats"></uib-datepicker>
    <br>
    <button class="btn btn-sm btn-default" ng-click="schedule(options.minMode)">Schedule for {{bullet.date | date:'short'}}</button>
    </form>
</span>
