<div>
    <form class="datepicker" data-toggle="buttons">
        <h5>Schedule in: 
        <label>
            <input type="radio" ng-model="options.minMode" value="day" /> Daily Log
        </label>
        <label>
            <input type="radio" ng-model="options.minMode" value="month" /> Future Log
        </label>
        </h5>
        <uib-datepicker ng-model="bullet.date" datepicker-options="options" datepicker-mode="options.minMode" alt-input-formats="altInputFormats"></uib-datepicker>
        <br>
        <button eat-click class="btn btn-sm btn-default" ng-click="schedule(options.minMode)">{{bullet.date | date:'short'}}</button>
    </form>
</div>
