<!-- <span ng-if="!isNew"> -->
    <button type="button" class="btn btn-default btn-xs" ng-click="selectType('Task')" value="Task"><i class="fa-fw fa {{typeDict.Task}}"></i></button>
    <button type="button" class="btn btn-default btn-xs" ng-click="selectType('Note')" value="Note"><i class="fa-fw fa {{typeDict.Note}}"></i></button>
    <button type="button" class="btn btn-default btn-xs" ng-click="selectType('Event')" value="Event"><i class="fa-fw fa {{typeDict.Event}}"></i></button>
<!-- </span> -->