<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="page-header">{{title}}
            <div class="pull-right">
                <button class="btn btn-sm" ng-click="prev6()"><i class="glyphicon glyphicon-arrow-left"></i></button>
                <button class="btn btn-sm" ng-click="next6()"><i class="glyphicon glyphicon-arrow-right"></i></button>
            </div>
            </h1>
            <div class="collectionContainer">
                <div class="collectionColumn">
                    <collection ng-repeat="collection in collections | slice:0:3 track by collection.title" collection="collection"></collection>
                </div>
                <div class="collectionColumn">
                    <collection ng-repeat="collection in collections | slice:3:6 track by collection.title" collection="collection"></collection>
                </div>
            </div>
        </div>
    </div>
</div>
